<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Kanhu</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body {
        padding-top: 80px;
      }
      ol li {
        font-size: 150%;
      }

    </style>
  </head>

  <body>
    <% if(username == null) { %>
      <% include top-no-login.html %>
    <% }else {%>
      <% include top-login.html %>
      <%}%>
      <!-- Main component for a primary marketing message or call to action -->
    <div class="container">
    <div class="jumbotron">
      
      <h2>Get started</h2>
      <ol>
        <li>Download <a target="_blank" href="https://www.mongodb.com/">Mongodb</a> and open it by</li>
        <code>
          cd /your/mongodb/path/bin<br>
          ./mongod --dbpath ~/your/mongodb/path/data/db<br>
        </code>
        <li>Run the following commands in your terminal</li>
        <code>
          cd /your/project/path<br>
          npm install<br>
          npm start<br>
        </code> 
        <li>Open your browser and input: </li>
        <code>localhost:3000</code>
      </ol>

      <h2 style="color:red">BUG report</h2>
      <ul style="font-size:20px">
        <li>
          <strong style="color:green">[fixed]</strong>
          Website stays in loading status for a while when 'like' or 'dislike' is pressed too fast, which sometimes causes the server shutting down.
        </li>
        <li>
          In profile page, when you delete one question, the page doesn't refresh so that you can still see the answers of the deleted question in My Answers tag. If you click the link of the question in My Answers tag, page shows '404 not found'
        </li>
      </ul>
      <p></p>
      <p>
      <a class="btn btn-primary btn-lg" href="https://github.com/wszk1992/Kanhu" target="_blank" role="button">Get source code in Github</a></p>
    </div>



    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/jquery-3.1.0.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
  </body>
</html>
