
<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>profilePics</title>
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>

  	<body>
  		<div class="row">
		<% for(i = 0; i < num; i++) {%>
			<div class="col-md-2 col-xs-6">
				<img height="150" width="150" class="media-object" src="/pic/profile/<%=i%>.png" alt="">
			</div>
		<%}%>
		</div>
	</body>
</html>
