
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title><%= question.title %></title>
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body {
        padding-top: 50px;
      }
      h4 {
        color: #778899;
      }
      #answerFunc li{
        display: inline-block;
        padding-right: 1%;
      }
    </style>
  </head>

  <body>
    <% if(username == null) { %>
      <% include top-no-login.html %>
    <% }else {%>
      <% include top-login.html %>
      <%}%> 

    <div class="container">
      <!-- question -->
      <div class="page-header">
        <div class="row"> 
          <div class="col-md-8">
            <h1><%= question.title %> 
              <p><small><%= question.detail %></small></p>
            </h1>
          </div>
          <div class="col-md-4">
            <h4 class="text-right">Posted by: <%= question.user %></h4>
            <h6 class="text-right"><%= question.date %></h6>
          </div>
        </div>
      </div> 

      <!-- answers -->
      <table class="table table-hover">
        <tbody>
        <script>
          vote_status = new Array();
          veto_status = new Array();
        </script>
          <% for(i = 0, j = 0; i < answers.length; i++) { %>
          <% if(j < votes.length && answers[i]._id == votes[j].answerId){ %>
          <script>
            vote_status['<%=i%>'] = '<%=votes[j].vote%>';
            veto_status['<%=i%>'] = '<%=votes[j].veto%>';
          </script>
          <% j++;}else { %>
          <script>
            vote_status['<%=i%>'] = 'false';
            veto_status['<%=i%>'] = 'false';
          </script>
          <%} %>
          
            <tr><th>
            <div class="row">
              <div class="col-md-1">
                <p>
                  <span id="vote<%= i%>" class="glyphicon glyphicon-chevron-up" aria-hidden="true" onmouseover="voteOver(this)" onmouseout="voteOut(this, '<%= i%>')" onclick="vote(this, '<%= answers[i]._id%>', '<%= i%>')"></span>
                  <span id="showvote<%= i%>"><%= answers[i].votes%></span>
                </p>
                <p>
                  <span id="veto<%= i%>" class="glyphicon glyphicon-chevron-down" aria-hidden="true" onmouseover="vetoOver(this)" onmouseout="vetoOut(this, '<%= i%>')" onclick="veto(this, '<%= answers[i]._id%>', '<%= i%>')"></span>
                  <span id="showveto<%= i%>"><%= answers[i].vetos%></span>
                </p>
                  <script>
                  if(vote_status['<%=i%>'] == 'false')
                    document.getElementById("vote<%= i%>").style = "color: black";
                  else 
                    document.getElementById("vote<%= i%>").style = "color: red";
                  if(veto_status['<%=i%>'] == 'false')
                    document.getElementById("veto<%= i%>").style = "color: black";
                  else 
                    document.getElementById("veto<%= i%>").style = "color: green";
                  </script>
              </div>
              <div class="col-md-11">
                  <a><%= answers[i].user%>:</a>
                  <p><%= answers[i].body%></p>
                  <div id="answerFunc">
                    <li><a style="color:grey">reply</a></li>
                    <li><a style="color:grey">delete</a></li>
                    <li><a style="color:grey">more</a></li>
                  </div>
              </div>
            </div>
            </th></tr>
          <% } %>
        </tbody>
      </table>
      <!-- TODO: timeline, link to user profile, vote -->

      <!-- text editor -->
      <form action="#" method="post" id="answer">
        <label>Your answer</label>
        <textarea class="form-control" name="answer_body" rows="3"></textarea>
        <p>
          <button type="submit" class="btn btn-primary col-md-1 col-md-offset-11">Submit</button>
        </p>
      </form>
    </div>


    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery-3.1.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    
    <script>
      document.getElementById("answer").action = "/questions/" + "<%= question._id%>";

      function voteOver(obj) {
        obj.style = "color:red";
      }
      function vetoOver(obj) {
        obj.style = "color:green";
      }
      function voteOut(obj, index) {
        if(vote_status[index] == 'true') {
          obj.style = "color:red";
        }else {
          obj.style = "color:black";
        }
      }
      function vetoOut(obj, index) {
        if(veto_status[index] == 'true') {
          obj.style = "color:green";
        }else {
          obj.style = "color:black";
        }
      }
      function vote(obj, id, index) {
        if('<%=username%>' == 'undefined') {
          alert("login first!");
        }else {
          if(vote_status[index] == 'true') {
            document.getElementById("showvote" + index).innerHTML = Number(document.getElementById("showvote" + index).innerHTML) - 1;
            obj.style = "color: black";
            $.get("/answers/" + id + "/vote?status=1" + "&date=" + Date());
            vote_status[index] = 'false';
          }else {
            document.getElementById("showvote" + index).innerHTML = Number(document.getElementById("showvote" + index).innerHTML) + 1;
            obj.style = "color: red";
            $.get("/answers/" + id + "/vote?status=0" + "&date=" + Date());
            vote_status[index] = 'true';
          }
        }
        
      }
      function veto(obj, id, index) {
        if('<%=username%>' == 'undefined') {
          alert("login first!");
        }else {
          if(veto_status[index] == 'true') {
            document.getElementById("showveto" + index).innerHTML = Number(document.getElementById("showveto" + index).innerHTML) - 1;
            obj.style = "color: black";
            $.get("/answers/" + id + "/veto?status=1" + "&date=" + Date());
            veto_status[index] = 'false';
          }else {
            document.getElementById("showveto" + index).innerHTML = Number(document.getElementById("showveto" + index).innerHTML) + 1;
            obj.style = "color: green";
            $.get("/answers/" + id + "/veto?status=0" + "&date=" + Date());
            veto_status[index] = 'true';
          }
        }
      }


    </script>
  </body>
</html>
