
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title><%= question.title %></title>
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body {
        padding-top: 50px;
      }
      h3 {
        color: #428bca;
      }
      #answerFunc li{
        display: inline-block;
        padding-right: 1%;
      }
    </style>
  </head>

  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">侃乎</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li><a href="/questions">Questions</a></li>
              <li><a href="https://github.com/wszk1992/Kanhu">Github</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary navbar-btn " data-toggle="modal" data-target=".bs-example-modal-lg">
                  Ask
                </button>  
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= username %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/user/<%= username%>" id="profile">Profile</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
    </nav>

    <!-- Question Modal -->
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div id="question-submit" class="modal-dialog" role="document">
        <form action='#' id="question" method="post">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <label for="myModaltitle">Question:</label>
              <input class="form-control" id="myModaltitle" autofocus="autofocus" name="question_title" placeholder="Question title" required>
            </div>
            <div class="modal-body">
              <label for="myModalcontent">Details:</label>
              <textarea class="form-control" rows="3" name="question_details"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>  

    <div class="container">
      <!-- question -->
      <div class="page-header">
        <div class="row"> 
          <div class="col-md-8">
            <h1><%= question.title %> 
              <p><small><%= question.detail %></small></p>
            </h1>
          </div>
          <div class="col-md-4">
            <h3 class="text-right">Posted by: <%= question.user %></h3>
            <h6 class="text-right"><%= question.date %></h6>
          </div>
        </div>
      </div> 

      <!-- answers -->
      <table class="table table-hover">
        <tbody>
          <% for(i = 0; i < answers.length; i++) { %> 
            <tr><th>
            <div class="row">
              <div class="col-md-1">
                <p id="vote<%= i %>" onclick="vote(this)">
                  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" onmouseover="voteOver(this)" onmouseout="mOut(this)"></span>
                  <span id="showvote<%= i %>"><%= answers[i].votes%></span>
                </p>
                <p id="veto<%= i %>" onclick="veto(this)">
                  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" onmouseover="vetoOver(this)" onmouseout="mOut(this)"></span>
                  <span id="showveto<%= i %>"><%= answers[i].vetos%></span>
                </p>
              </div>
              <div class="col-md-11">
                  <a><%= answers[i].user%>:</a>
                  <p><%= answers[i].body%></p>
                  <div id="answerFunc">
                    <li><a style="color:grey">reply</a></li>
                    <li><a style="color:grey">delete</a></li>
                    <li><a style="color:grey">more</a></li>
                  </div>
              </div>
            </div>
            </th></tr>
          <% } %>
        </tbody>
      </table>
      <!-- TODO: timeline, link to user profile, vote -->

      <!-- text editor -->
      <form action="#" method="post" id="answer">
        <label>Your answer</label>
        <textarea class="form-control" name="answer_body" rows="3"></textarea>
        <p>
          <button type="submit" class="btn btn-primary col-md-1 col-md-offset-11">Submit</button>
        </p>
      </form>
    </div>
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery-3.1.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    
    <script>
      document.getElementById("question").action = "/user/" + "<%= username%>" + "/questions";
      document.getElementById("answer").action = "/questions/" + "<%= question._id%>";
      function voteOver(obj) {
        obj.style = "color:red";
      }
      function vetoOver(obj) {
        obj.style = "color:green";
      }
      function mOut(obj) {
        obj.style = "color:black";
      }
      function vote(obj) {
        document.getElementById("show"+obj.id).innerHTML = Number(document.getElementById("show"+obj.id).innerHTML) + 1;
      }
      function veto(obj) {
        document.getElementById("show"+obj.id).innerHTML = Number(document.getElementById("show"+obj.id).innerHTML) + 1;
      }
    </script>
  </body>
</html>
