<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Questions</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body {
        padding-top: 50px;
      }
      h4 {
        color: #778899;
      }

    </style>
  </head>

  <body>
    <%- message %>
    <% if(username == null) { %>
      <% include top-no-login.html %>
    <% }else {%>
      <% include top-login.html %>
      <%}%>
      <!-- Main component for a primary marketing message or call to action -->
    <div class="container">
      <h1>Questions</h1>
       <!-- Questions list -->
          <% for(i = 0; i < questions.length; i++) { %> 
            <div class="page-header"> 
              <div class="row"> 
                <div class="col-md-8">
                  <h3><a href="/questions/<%= questions[i]._id %>">
                    <%= questions[i].title %></a>
                  </h3>
                  <small><%= questions[i].detail %></small>
                </div>
                <div class="col-md-4">
                  <div class="text-right"><font style="color:grey;">Posted by: </font><a href="/user/<%=questions[i].user%>"><%= questions[i].user %></a></div>
                  <h6 class="text-right"><%= questions[i].date %></h6>
                </div>
              </div>
            </div> 
          <% } %> 
    </div> <!-- /container -->

    <script src="javascripts/jquery-3.1.0.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
  </body>
</html>
