    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">侃乎</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/questions">Questions</a></li>
              <li><a href="https://github.com/wszk1992/Kanhu" target="_blank">Github</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              
               <li>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary navbar-btn " data-toggle="modal" data-target=".bs-example-modal-lg">
                  Ask
                </button>  
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= username %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/user/<%= username%>" id="profile">Profile</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
    </nav>

    <!-- Question Modal -->
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div id="question-submit" class="modal-dialog" role="document">
        <form action='/user/<%= username%>/questions' id="question" method="post">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <label for="myModaltitle">Question:</label>
              <input class="form-control" autofocus="autofocus" name="question_title" placeholder="Question title" required>
            </div>
            <div class="modal-body">
              <label for="myModalcontent">Details:</label>
              <textarea class="form-control" rows="3" name="question_details"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>  

<!-- javascript -->

 <!-- javascript -->